<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="fr.uge.confroidutils">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <service
                android:name=".services.ConfigurationPuller"
                android:exported="true" />
        <service
                android:name=".services.ConfigurationVersions"
                android:exported="true" />
        <service
                android:name=".services.TokenPuller"
                android:exported="true" />
    </application>

</manifest>